.container label {
  color: #b93737;
  padding: 8px 0 0 0;
  font-weight: 500;
}
.block1, .block2 {
  border-right: 2px solid #fff;
}
textarea {
  min-height: 120px;
}
.logo-conatiner img {
    height:80px;
    width:80px;
}