<div class="container">
    <div class="form-outline">
        <form>
            <div class="text-center">
                <div class="form-outline">
                    <input type="url" id="typeURL" name="typeUrl" [(ngModel)]="typeUrl" class="form-control" placeholder="Enter website URL"/>
                </div>
                <div class="p-2">
                    <a class="button" class="btn btn-primary" (click)="scrapUrl()">Scrap</a>
                </div>
            </div>
        </form>
      </div>
</div>
